<!DOCTYPE html>
<html>
    <head>
        <title>Carpentry form</title>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
        <!--<link rel="stylesheet" href="/stylesheets/landing.css">-->
        <link rel="stylesheet" href="/stylesheets/main1.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script><!--this is the cdn for making browser compatible-->
    </head>
    <body>




<div class="mid">
<!--<div class="ui card ">-->


<div  class="ui inverted segment">
  <form class="ui inverted form" action="/complaints/carpentry" method="POST" >
      <h1>CARPENTRY COMPLAINT FORM</h1>
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input placeholder="Jatin" name="first_name" type="text">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input placeholder="Sohane" name="last_name" type="text">
      </div>
    </div>
    
    
    <div class="two fields">
      <div class="field">
        <label>Branch</label>
        <input placeholder="CSE" name="branch" type="text">
      </div>
      <div class="field">
        <label>Semester</label>
        <input placeholder="5" name="semester" type="text">
      </div>
    </div>
    
    
     <div class="two fields">
      <div class="field">
        <label>Phone No.</label>
        <input placeholder="9456358759" name="phone_no" type="text">
      </div>
      <div class="field">
        <label>USN</label>
        <input placeholder="1by16cs038" name="usn" type="text">
      </div>
    </div>
    
    
    <div class="two fields">
      <div class="field">
        <label>Hostel Block & Room No.</label>
        <input placeholder="A-110" name = "block_room_no" type="text">
      </div>
      <div class="field">
        <label>Email Id</label>
        <input placeholder="xyz@gmail.com" name="email" type="text">
      </div>
    </div>
    
     <div class="fields">
        <label>Complaint Subject</label>
        <input placeholder="Damaged Almirah" name="subject" type="text">
      </div>
    <div class="field">
    <label></label>
    <textarea name="description" placeholder="Description...."></textarea>
  </div>
    
    <div class="inline field">
      
    </div>
    <input type="submit" class="ui submit button">
  </form>
</div>

<!--</div>-->
</div>

</body>
</html>