<!DOCTYPE html>
<html>
    <head>
        <title>HOSTEL</title>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script><!--this is the cdn for making browser compatible-->
    </head>
    <body>
    
    
    
    <div id="landing-header">
 		<h1>Welcome to BMSIT&M HOSTEL</h1>
		<!--<a href="#" class="ui violet basic button">Sign up/Login</a>-->
		
		<div class="ui buttons">
  <a href="/register"><button  class="ui violet button" >Sign up</button></a>
  <div class="or"></div>
  <a href="/login"><button  class="ui positive button" >Login</button></a>
        </div>  



    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<!-- include partials/footer -->

 </body>
</html>

